.board
    display flex
    border 1px solid #999

    .category
        margin 0
        width 20%
        padding 0
        border-right 1px solid #999

        .answer
            display none

        &:last-child
            border none

        .category-title
            background-color #eee

        .question
            cursor pointer

            &.disabled
                background-color #eee
                cursor auto

            .question-text
                display none

        .question,
        .category-title
            display flex
            justify-content center
            align-items center
            border-bottom 1px solid #999
            margin 0
            padding 40px 10px
            list-style none

            > p
                margin 0

            &:last-child
                border none

.modal-wrap
    display none
    z-index 1
    position absolute
    top 0
    left 0
    width 100%

    .modal
        position absolute
        top 0
        background-color #eee
        width 90%
        margin 5%
        padding 20px

        // .ios-keyboard
            // display none

        img.close
            position absolute
            top 0
            right 0
            width 40px
            margin 10px

        .timer

            .timer-instructions
                display flex
                justify-content space-around

                p
                    margin 0
                    background-color #cecece
                    padding 10px

            .timer-content
                display none

                .player-num::after
                    text-align center
                    content ':'

                .timer-text
                    font-size 5em
                    text-align center
                    margin-bottom 10px

    .modal-blanket
        background-color rgba(100, 100, 100, 0.75);
        width 100vw
        height 100vh

    .modal-blanket,
    img.close
        cursor pointer
