.title
    margin-bottom 3px

.scores
    display none
    position absolute
    top 10px
    right 10px

.links
    margin 10px 0

    a
        margin-right 5px

.game-flash
    position fixed
    left 0
    top 0
    height 100vh
    width 100vw

    display none
    justify-content center
    align-items center

    .game-flash-text
        font-size 4em
        opacity 0
        z-index 10000

.board
    display flex
    border 1px solid #999

    .category
        margin 0
        width 20%
        padding 0
        border-right 1px solid #999

        .answer
            display none

        &:last-child
            border none

        .category-title
            background-color #eee
            width 100%
            margin 0

        .board-question
            cursor pointer

            &.disabled
                background-color #eee
                cursor auto

            .question-text
                display none

        .board-question,
        .category-title
            display flex
            justify-content center
            align-items center
            border-bottom 1px solid #999
            margin 0
            padding 40px 10px
            list-style none

            > p
                margin 0

            &:last-child
                border none

.create-board
    button[type="submit"]
        margin 10px 0

    .title-bar
        display flex
        justify-content space-between

        button.clear-board
            height 40px

        button a
            text-decoration none

    .board
        input
            border 0

        .category > .board-question
            padding 0
            display flex
            flex-direction column

            input
                width 100%
                padding 15px