val = 100
modal-bg = rgba(val, val, val, 0.5)

.question-wrap
    width 100%
    display none

.question-wrap,
.question
    z-index 1
    position fixed
    top 0
    left 0

.celebration-wrap
    display none
    align-items center
    justify-content center
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh
    z-index 1

    .celebration
        z-index 2
        display none
        font-size 5em

        &.correct
            color #51ff51

        &.incorrect
            color #ec0e0e
            
        &.no-answer
            color #fff

.question
    display none
    background-color #eee
    border-radius 10px
    width 90%
    margin 5%
    padding 20px

    img.close
        position absolute
        top 0
        right 0
        width 40px
        margin 10px

    .timer
        .timer-instructions
            display flex
            justify-content space-around

            p
                margin 0
                background-color #cecece
                padding 10px

        .timer-content
            display none

        .player-num::after
            text-align center
            content ':'

        .timer-text
            font-size 5em
            text-align center
            margin-bottom 10px

.question-blanket
    background-color rgba(100, 100, 100, 0.75)
    -webkit-backdrop-filter blur(3px)
    width 100vw
    height 100vh

.question-blanket,
img.close
    cursor pointer

.teacher
    background-color inherit

    .question
        position static
        margin 0
        width 100%

        .buttons button
            border 0
            background-color #cecece
            padding 10px
            margin 0

@media screen and (min-width: 900px)
    .question
        width 70%
        margin 100px 15%