extends mixins

block content
    .game
        +render_board(board)

        .question-wrap
            .question-blanket

            .celebration-wrap
                p.celebration

            .question
                img.close(src='/static/images/close.svg')

                .question-question
                    h2.question-category
                        span

                    h1.question-modal-text
                    p.status

                .timer

                    .timer-instructions
                        p Player 1, press the #[strong Z] key to buzz
                        p Player 2, press the #[strong M] key to buzz

                    .timer-content
                        h2 Player #[span.player-num]

                        .timer-game-flash

block scripts
    script(src='/static/js/game.js')
