extends mixins

block content
    .create-board
        h1 Create a Jeopardy board!

        form(method='POST', action='')
            +render_board(board, create=true)
            button(type='submit') Save!

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/keypress/2.1.4/keypress.min.js')
    script(src='/static/js/game.js')
