extends mixins

block content
    .create-board
        .title-bar
            h1 Create a Jeopardy board!

            .actions
                button
                    a(href=url_for('game.create_json')) Create from JSON

                button.clear-board Clear

        form(method='POST', action='')
            +render_board(board, create=true)
            button(type='submit') Save!

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/keypress/2.1.4/keypress.min.js')
    script(src='/static/js/game.js')
    script(src='/static/js/create.js')
