mixin render_board(board_data)
    .board
        each category in board_data
            questions = category.questions

            ul.category
                li.category-title= category.name

                each question in questions
                    li.question
                        p= question.value
                        p.question-text= question.question
                        p.answer= question.answer | encode

extends mixins

block content
    if create
        h1 Create Jeopardy Game!

    .scores
        p Team 1: #[span.score-one]
        p Team 2: #[span.score-two]

    +render_board(board_data)

    include modal

block scripts
    script(src='/static/js/game.js')
