extends layout
- from 'mixins.jade' import render_board with context

block content
    +render_board(data)

    .modal
        .modal-content
            .modal-header
                h2.value
                img.close(src='/static/cross.svg')

            p.question
            p.answer

            form(method='POST')
                input.answer(name='answer', placeholder='Answer')
                button(type='submit') Submit

        .blanket