extends layout

block content
    h1 Jeopardy
    p Welcome! To create a jeopardy game, go to the #[a(href=url_for('game.create')) create page]. To play a game, check out the #[a(href=url_for('game.all')) games list page]