doctype html
html
    head
        title Jeopardy!
        link(rel='stylesheet', href='/static/css/stylesheet.min.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

    body
        #wrapper
            block content

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(src="/static/hash.js")
        script(src='/static/frontend.js')