extends layout

mixin render_field(field)
    if field.errors
        for error in field.errors
            .notification.error= error

    =field(placeholder=field.label.text)

mixin render_form(form, action='Submit')
    form(method='POST', action='')
        =form.hidden_tag()

        each field in form
            fieldset
                +render_field(field)

        button(type='submit')= action
