.modal-wrap
    .modal-blanket

    .modal
        img.close(src='/static/images/close.svg')
            
        .modal-question
            h2.question-category
                span

            h1.question

        .timer
            .timer-instructions
                p Player 1, press the #[strong Z] key to buzz
                p Player 2, press the #[strong M] key to buzz

            .timer-content
                h2 Player #[span.player-num]
                p.timer-text
