extends layout

block content
    .teacher
        h1 Teacher

        p.no-messages No messages

        .question
            p Question:
            h2.question-text

            p Answer:
            h2.answer

            .buttons
                button(type="button", name="button", class="correct") Correct
                button(type="button", name="button", class="incorrect") Incorrect


block scripts
    script(src='/static/js/teacher.js')
