extends layout

block content
    h1 Teacher

    p.status No messages

    .question
        .question-text
        .answer

        .buttons
            button(type="button", name="button") Correct
            button(type="button", name="button") Incorrect


block scripts
    script(src='/static/js/teacher.js')
